<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lty.app.service.auth.dao.ResourceMapper">
	<resultMap id="BaseResultMap" type="com.lty.app.facade.auth.model.Resource">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="text" property="text" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="seq" property="seq" jdbcType="INTEGER" />
		<result column="pid" property="pid" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, text, url, seq, pid
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_auth_resource
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		t_auth_resource
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.lty.app.facade.auth.model.Resource">
		insert into t_auth_resource
		(id, text, url,
		seq, pid)
		values (#{id,jdbcType=VARCHAR},
		#{text,jdbcType=VARCHAR},
		#{url,jdbcType=VARCHAR},
		#{seq,jdbcType=INTEGER}, #{pid,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.lty.app.facade.auth.model.Resource">
		insert into t_auth_resource
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="text != null">
				text,
			</if>
			<if test="url != null">
				url,
			</if>
			<if test="seq != null">
				seq,
			</if>
			<if test="pid != null">
				pid,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="text != null">
				#{text,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				#{url,jdbcType=VARCHAR},
			</if>
			<if test="seq != null">
				#{seq,jdbcType=INTEGER},
			</if>
			<if test="pid != null">
				#{pid,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.lty.app.facade.auth.model.Resource">
		update t_auth_resource
		<set>
			<if test="text != null">
				text = #{text,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				url = #{url,jdbcType=VARCHAR},
			</if>
			<if test="seq != null">
				seq = #{seq,jdbcType=INTEGER},
			</if>
			<if test="pid != null">
				pid = #{pid,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.lty.app.facade.auth.model.Resource">
		update
		t_auth_resource
		set text = #{text,jdbcType=VARCHAR},
		url =
		#{url,jdbcType=VARCHAR},
		seq = #{seq,jdbcType=INTEGER},
		pid =
		#{pid,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<!-- 自定 -->
	<select id="findObjectsByPage" resultMap="BaseResultMap"
		parameterType="com.lty.app.facade.auth.model.Resource">
		select
		<include refid="Base_Column_List" />
		from t_auth_resource
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="text != null">
				text = #{text,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				url = #{url,jdbcType=VARCHAR},
			</if>
			<if test="seq != null">
				seq = #{seq,jdbcType=INTEGER},
			</if>
			<if test="pid != null">
				pid = #{pid,jdbcType=VARCHAR},
			</if>
		</trim>
	</select>


	<select id="findResourceByProperties" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_auth_resource
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="text != null">
				text = #{text,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				url = #{url,jdbcType=VARCHAR},
			</if>
			<if test="seq != null">
				seq = #{seq,jdbcType=INTEGER},
			</if>
			<if test="pid != null">
				pid = #{pid,jdbcType=VARCHAR},
			</if>
		</trim>
	</select>

	<delete id="remove" parameterType="java.lang.String">
		delete from
		t_auth_resource
		where id
		= #{id,jdbcType=VARCHAR} or pid = #{id,jdbcType=VARCHAR}
	</delete>

	<update id="updatePidByPid" parameterType="java.lang.String">
		update t_auth_resource
		set
		pid
		= #{pid,jdbcType=VARCHAR}
		where pid = #{pid,jdbcType=VARCHAR}
	</update>
</mapper>